sup {
  font-size: 0.75rem;
}

.hide {
  display: none!important;
}

.danger {
  color: red;
}

.success {
  color: green;
}

.nav a.pagename {
  color: white;
}

.hero {
  background: #eee;
  padding: 20px;
  border-radius: 10px;
  margin-top: 1em;
}

.hero h1 {
  margin-top: 0;
  margin-bottom: 0.3em;
}

.loading-container {
  text-align: center;
}

#image {
  text-align: center;
}

#loading {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: black;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.progress-bar {
  width: 100%;
  border: 1px solid black;
  padding: 3px;
  border-radius: 3px;
}

.progress-bar-fill {
  display: block;
  width: 0%;
  height: 22px;
  background-color: #60c642;
  border-radius: 3px;
  transition: width 500ms ease-in-out;
}

footer {
  text-align: center;
  font-size: 0.8rem;
}

footer a {
  color: black;
  font-weight: 700;
}