sup {
  font-size: 0.75rem;
}

.danger {
  color: red;
}

.success {
  color: green;
}

.nav a.pagename {
  color: white;
}

.hero {
  background: #eee;
  padding: 20px;
  border-radius: 10px;
  margin-top: 1em;
}

.hero h1 {
  margin-top: 0;
  margin-bottom: 0.3em;
}

footer {
  text-align: center;
  font-size: 0.8rem;
}

footer a {
  color: black;
  font-weight: 700;
}